# Python
__pycache__/
.python-version

# Environments
.env
.venv

# Logs
Logs/

# Xcode user data
speech-to-text-app/speech-to-text-app.xcodeproj
speech-to-text-app/speech-to-text-app.xcodeproj/xcuserdata/
speech-to-text-app/speech-to-text-app.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Build artifacts
*.app
build/
DerivedData/

