# Python
__pycache__/
.python-version

# Environments
.env
.venv

# Logs
Logs/

# Xcode user data
SpeechToTextApp.xcodeproj/xcuserdata/
SpeechToTextApp.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Build artifacts
*.app
build/
DerivedData/

